.llamadaccion{
    font-size: $font-size-base * 3;
}

.colorTextoBoton{
    color: rgb(155,81,224);
}

.imagenFondo{
    background-image: url(../imagenes/vvvortex.svg); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-color: rgb(33, 33, 33); 
    background-size: 2000px;
}

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/variables-dark";
@import "./node_modules/bootstrap/scss/bootstrap.scss";